<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Favorites</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img id="logo" src="http://127.0.0.1:8000/static/app/img/logo.png" alt="logo">
            <div id="subheader"><a href='/main_lg'>Home</a> | <a href="/logout" id="logout">Logout</a><br><br><br><a href='/user/{{ user.id }}'>My Profile</a>
            </div>
        </div>
        <div id="navigation"><p><a href="/main_lg">Home</a> | <a href="/market/1">Market 1</a> | <a href="/market/2">Market 2</a> | <a href="/market/3">Market 3</a> | <a href="/market/4">Market 4</a>
            </p></div>
        <div id="main_content">
            <h1 id="fav">{{user.first_name}},</h1>
            <h2 id="fav">Here is the list of your favorites</h2>
            <table id="table1">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Market</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in user.favorites.all %}
                    
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.market.name }}</td>
                        <td>{{ item.created_at }}</td>
                        <td><a href="/item/{{ item.id }}">View info</a>  |  <a href="/item/{{ item.id }}/remove">Remove from favorites</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div><!-- end of wrapper -->
</body>
</html>