<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Favorites</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}"> 
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <img id="logo" src="http://127.0.0.1:8000/static/app/img/logo.png" alt="logo">
            <div id="subheader"><a href='/main_lg'>Home</a> | <a href="/logout" id="logout">Logout</a><br><br><br>
            </div>
        </div>
        <div id="navigation"><p><a href="/main_lg">Home</a> | <a href="/market/1">Market 1</a> | <a href="/market/2">Market 2</a> | <a href="/market/3">Market 3</a> | <a href="/market/4">Market 4</a>
            </p></div>
        <div id="main_content">
            <h1>{{ user.first_name }}'s Profile</h1>
            <p>First Name: {{ user.first_name }}<br>Last Name: {{ user.last_name }}
            Email Address: {{ user.email }}<br>
            Joined: {{ user.created_at }}</p>    
        </div>
    
</body>
</html>